html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td	{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}

h1, h2 {
	background-color: #001144;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 10px;
	/* -moz-border-radius: 3px; */		/* rounded corners on main bar heading tags */
	/* -webkit-border-radius: 3px; */ 	/* rounded corners on main bar heading tags */
}

div {
  margin-bottom: 10px;
}

img {
  padding: 10px;
}

.buttons input[type=text],
.buttons input[type=button],
.buttons input[type=submit] {
	padding: 5px;
}


.money span {
  color: #001144;
  font-size: 20px;
  font-weight: bold;
}

.money span.negative {
  color: #aa4444;
}

.money span.positive {
  color: #44aa44;
}